<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto - IamChibi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1>IamChibi 🌸</h1>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/proyecto">Proyecto</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Contacto ✉️</h2>
        <p>Si deseas ponerte en contacto conmigo, aquí te dejo mis medios de comunicación:</p>
        <ul>
            <li>📞 <strong>Teléfono:</strong> ********* </li>
            <li>📧 <strong>Correo:</strong> <a href="mailto:ignaciagit@gmail.com">ignaciagit@gmail.com</a></li>
            <li>🐙 <strong>GitHub:</strong> <a href="https://github.com/IgnaciaMiranda" target="_blank">github.com/IgnaciaMiranda</a></li>
        </ul>
    </section>
</body>
</html>
